<ion-header>
  <ion-navbar color="red">
    <ion-title>Marvel comics finder</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-searchbar
    placeholder="Comic title or year. E.g. 2002"
    [(ngModel)]="searchQuery"
    (keypress)="doSearch($event)">
  </ion-searchbar>
  <ion-list>
    <ion-item *ngFor="let comic of comics">
      <ion-thumbnail item-start>
        <img [src]="comic.thumbnail.path+'.'+comic.thumbnail.extension">
      </ion-thumbnail>
      <h2>{{ comic.title }}</h2>
      <p>{{ comic.format }}</p>
      <ion-icon *ngIf="comic.isFavorite" name="ios-heart" isActive="true" color="red"></ion-icon>
      <button ion-button clear item-end (click)="comicDetails(comic.id)">View</button>
    </ion-item>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
   <ion-infinite-scroll-content
     loadingText="Loading more data..."></ion-infinite-scroll-content>
 </ion-infinite-scroll>
</ion-content>
